<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{% static 'iconfavicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="{% static 'manifest.json' %}" rel="manifest">
	<script defer src="{% static 'js/main.js' %}"></script>
	<link rel="stylesheet" href="{% static 'clients/index.css' %}">
	<link rel="stylesheet" href="{% static 'clients/mediaindex.css' %}">
	{% block extra_css %}{% endblock %}
	<script defer src="{% static 'clients/index.js' %}"></script>
	<title>{% block title %} Clients {% endblock %}</title>
</head>
<body>
<nav>
	<div>
		<form id="home" action="{% url 'eccentric:home' %}">
			{% csrf_token %}
			<button class="title home" type="submit">Sinsio</button>
		</form>
	</div>
	<form action="{% url 'eccentric:logout' %}" method="POST">
		{% csrf_token %}
		<input class="logout" type="submit" value="Logout">
	</form>
</nav>
{% block body %}
<br>
<br>
<br>
<section id="clients">
	<div class="clients-wrapper">
		<div class="column-title">
			<div class="title">ClIENT NAME</div>
			<div class="title">RENEWAL DATE</div>
		</div>
		<div class="all-clients">
			{% for client in clients %}
			<form class="client" action="{% url 'clients:edit_client' client.id %}" method="get">
				{% csrf_token %}
				<div class="client-heading">
					<div class="client-name">{{ client.name }}</div>
					<div class="renewal-date">{{ client.renewal_date }}</div>
				</div>
				<div class="amount-wrapper">
					<div class="client-amount">
						KES: {{ client.amount }}
					</div>
					<div class="more">
						<img class="triangle-svg" src="{% static 'clients/svg/triangle_down.svg' %}">
					</div>
				</div>
				<div class="all-details" style="display: none">
					<label class="client-detail"> Registration Number:
						<span>{{ client.registration_number }}</span>
					</label>
					<label class="client-detail"> Policy Number:
						<span>{{ client.policy_number }}</span>
					</label>
					<label class="client-detail"> Renewal Date:
						<span>{{ client.renewal_date }}</span>
					</label>
					<label class="client-detail"> Start Date:
						<span>{{ client.start_date }}</span>
					</label>
					<label class="client-detail"> End Date:
						<span>{{ client.end_date }}</span>
					</label>
					
					<label class="client-detail"> Phone No:
						<span>{{ client.phone_number }}</span>
					</label>
					<button type="submit" class="edit-button">Edit</button>
				</div>
			</form>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
<form class="add-client" action="{% url 'clients:register' %}">
	<button id="add-client"><span>+</span></button>
</form>
<footer>
		<form action="{% url 'clients:index' %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="clients">
				<img id="clients-group" src="{% static 'eccentric/svg/clients_group.svg' %}">
			</button>
		</form>

		<form action="{% url 'clients:search' %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="search">
				<img id="search-client" src="{% static 'eccentric/svg/search.svg' %}">
			</button>
		</form>

		<button class="notify">
			<img id="notify" src="{% static 'eccentric/svg/notify.svg' %}">
		</button>
	</footer>
</body>
</html>


