
:root {
    --purple: #56013b;
    --dark-blue: #1bbbef;
    --light-blue: #0680a8;
    --background-baige: rgb(226, 238, 237);
    --thin: 100;
    --accent-color: #25D366;
    --light-gray: #a9a9a9;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

}


nav {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 32px 8px 32px;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    position: fixed;
    left: 0;
    top: 0;
    width: 98%;
    z-index: 1;

}

form#home {
    display: flex;
    align-items: flex-start;

}

button.home.title {
    font-weight: 800;
    font-size: 32px;
    color: var(--accent-color);
    border: none;
    background: none;
    text-align: center;

}

.logout {
    font-size: 16px;
    color: black;
    font-weight: 700;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

input.input-date {
    min-width: fit-content;
}


button.profile, button#logout {
    background: none;
    border: none;
    color: black;
}


#clients, #section-search {
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


#registration-form, .clients-wrapper, #edit_form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}


.form-container, .client-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clients-wrapper, .client-wrapper {
    padding: 0 16px;
    border-radius: 16px;

}


form#registration-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 16px;
    padding: 32px;
    box-sizing: content-box;
}


.form-element {
    min-width: 350px;
}


#add-wrapper {
    display: flex;
    justify-content: center;
}


button#edit {
    font-size: 24px;
    text-align: center;
    border: none;
    background: none;
    padding: 4px 16px;

}


input.input-text {
    font-size: 16px;
    width: 340px;
    border: none;
    padding: 8px;
    border-bottom: 1px solid var(--light-gray);
    font-weight: 600;
}


.input-date {
    font-size: 16px;
    width: 240px;
    border: none;
    /*border-bottom: 1px solid var(--light-gray);*/
    padding: 8px;
    text-align: right;

}


.title {
    font-size: 24px;
    color: black;
    /*font-weight: 600;*/
    padding-left: 4px;
    text-align: center;

}


.column-headings {
    display: flex;
    gap: 16px;

}

/*clients list section*/
 .column-title {
     display: flex;
     justify-content: space-between;
     width: 100%;
     min-width: 550px;
     padding-right: 16px;
 }

.all-clients > form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    min-width: 500px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--light-gray);
    margin: 16px 0;
}

.client-heading {
    display: flex;
    justify-content: space-between;
}

.client-details {
    display: flex;
    gap: 16px;
    border: 1px solid #d0cece;
    border-radius: 8px;
    padding: 8px;
    background: white;

}

.client-amount {
    display: flex;
    justify-content: space-between;
}

img.triangle-svg {
    height: 20px;
    width: 20px;
}

.edit-button {
    background: white;
    border: 1px solid #d0cece;
}

.client-name {
    min-width: 150px;
    white-space: nowrap;
}


.label {
    font-size: 16px;
}


.element {
    font-size: 24px;
    font-weight: bold;
}


.reg-no, .policy-no, .amount {
    min-width: 120px;
    white-space: nowrap;
}


.date {
    min-width: 120px;
    white-space: nowrap;
}

.client-name {
    font-size: 24px;
    font-weight: bold;
}

.renewal-date {
    font-size: 16px;
}

.all-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;
}

.client-detail {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 20px;
}

.client-detail > span {
    /*font-size: 24p;*/
    font-weight: 600;
}

.edit-button {
    font-size: 16px;
    padding: 4px 8px;
    width: 100px;
    align-self: flex-end;
    border-radius: 16px;
    border: 1px solid var(--light-gray);
    margin-bottom: 16px;

}

.edit-button:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color)

}


.amount-wrapper {
    display: flex;
    justify-content: space-between;
}

.client-amount {
    font-size: 24px;
}


.submit {
    font-size: 24px;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 16px 0;
    border: 1px solid var(--light-gray);
    background: black;
    color: white;

}


.submit:hover {
    background: none;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);

}


.date-label {
    display: flex;
    justify-content: space-between;

}


#amount {
    text-align: right;
    padding: 0 8px;
}


/*search form*/

#add-client {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
    background: var(--accent-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-bottom: 15px;
    position: fixed;
    left: 80vw;
    bottom: 10vh;
    border: none;
    margin-bottom: 16px;
}

#add-client:hover {
    background: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    padding: 8px 56px;
    justify-self: flex-end;
    border-top: 1px solid var(--light-gray);
    z-index: 1;
    background: #fcfcfc;
}


button.clients, button.search, button.notify {
    border: none;
    background: none;
}

#search-client, #clients-group, #notify {

    width: 40px;
    border: none;
    background: none;
}

/*edit html*/
section#edit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*utility classes*/
.highlight-late {
    padding: 0 8px;
    border-bottom: 1px solid red;
    background: #eeadad;
    border-radius: 16px;
}

